.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    
    position: relative;
    box-sizing: border-box;
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .header__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    max-width: 729px;
    text-align: left;
    margin-top: 183px;
    margin-left: 80px;
    margin-bottom: 0;
    display: block;
    z-index: 2;
  }

  .header__logo{
    width: 105px;
    height: 39px;
  }

  .header__span-accent{
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    display: block;
  }

  .header__description {
    font-size: 20px;
    line-height: 30px;
    font-family: "Noto Serif";
    font-weight: normal;
    font-style: normal;
    margin-top: 28px;
    margin-left: 80px;
    text-align: left;
    max-width: 683px;
    margin-bottom:0px;
    z-index: 2;
  }

  .header__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 2;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    
  }

  .header__paragraphs{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 80px;
    margin-bottom: 40px;
  }

  .header__paragraph{
    margin: 0;
  }

  .header__paragraph:last-of-type{
    align-self: flex-end;
    margin-right: 80px;
    margin-bottom: 40px;
  }

  .header__image {
    z-index: 1;
    position: absolute;
    width: 646px;
    height: 568px;
    right: 5px;
    top: 124px;
  }